{%extends 'basic/base.html'%}
{%block bodycontent %} class="bg-amber-400"{%endblock%}
{%block content %}



<div class=" container mx-auto py-10 bg-white mt-10 flex items-center"><h1 class="w-1/2 text-3xl ml-5 ">JOB SEARCH PORTAL </h1> <input class= " w-1/2 text-3xl  rounded-full h-20 text-center " type="text" placeholder="Job Search"> </div>

<div class="container mx-auto">

    <div class="w-full">
        <img src="" alt="">
        <h1></h1>
        <p></p>
        <button>apply job</button>
    </div>
</div>

{%endblock%}